# Web Core & Extensions
Flask>=3.0.0
Flask-SQLAlchemy>=3.1.1
Flask-JWT-Extended>=4.6.0
Flask-Mail>=0.10.0
Flask-Migrate==4.0.5
Flask-Cors>=4.0.0
flask-marshmallow>=1.0.0
python-dotenv>=1.0.1
gunicorn==22.0.0
gevent>=23.9.1

# Database Driver
PyMySQL>=1.1.0
cryptography>=42.0.0

# Security & Auth
bcrypt>=4.1.2
Flask-Limiter>=3.5.0

# API Documentation & Validation
flasgger>=0.9.7.1
marshmallow>=3.20.2
webargs>=8.4.0

# Tasks & Caching
celery==5.4.0
redis==5.0.3

# Machine Learning & Explainable AI
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
xgboost>=2.0.3
lightgbm
tensorflow>=2.15.0
imbalanced-learn>=0.12.0
shap==0.45.0

kaggle>=1.6.0
matplotlib>=3.8.0
seaborn>=0.13.0
huggingface_hub
joblib

# Code Quality & Testing
pytest>=8.0.0
flake8>=7.0.0
black>=24.1.0
numpy<2.0.0
